.App {
  text-align: center;
  color: #78BBEF;
  font-size: 2.5rem;
  font-family: "Michroma";
  font-weight: bold;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 20%;
  margin-top: 15%;
  border: .2rem solid #88A8B7;
  background-color: rgba(136, 168, 183, 0.2);
}

/* write your parent styles in here for your App.js */
